:root {
  --font-size: 18px;
  --border-radius: 15px;
  --shadow-opacity: 0.5;
  --font-family: Arial, sans-serif;
  --container-bg: #dc7a7a;
  --font-color: #ffffff;
  --button-bg: #d09093;
  --button-text: #ffffff;
}
body {
  background: #f2abab;
}